{% extends 'theme/base.html' %}

{% block title %}Drawings{% endblock %}
{% block meta_description %}Drawings{% endblock %}


{% block maincontent %}

    <div class="container">

        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-mission"
                class="active">Drawings
            </li>
        </ul>

    </div>

    <div class="container-fluid">
    <div class="row-fluid">

        <div class="span12">
            <h2>India</h2>

            <div class="row-fluid">

                <div class="span8">

                    <p>
                        <object data="http://www.flickr.com/apps/slideshow/show.swf?v=124984" height="500"
                                type="application/x-shockwave-flash" width="700">
                            <param name="flashvars"
                                   value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fddehghan%2Fsets%2F72157594266905438%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fddehghan%2Fsets%2F72157594266905438%2F&amp;set_id=72157594266905438&amp;jump_to=">
                            <param name="allowFullScreen" value="true">
                            <param name="src" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984">
                            <param name="allowfullscreen" value="true">
                        </object>
                    </p>
                </div>
                <div class="span4">
                    <p>
                        <object data="http://www.flickr.com/apps/slideshow/show.swf?v=124984" height="250"
                                type="application/x-shockwave-flash" width="250">
                            <param name="flashvars"
                                   value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fddehghan%2Fsets%2F72157632648790196%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fddehghan%2Fsets%2F72157632648790196%2F&amp;set_id=72157632648790196&amp;jump_to=">
                            <param name="allowFullScreen" value="true">
                            <param name="src" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984">
                            <param name="allowfullscreen" value="true">
                        </object>
                    </p>
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="span12">
                <h2>China</h2>
            </div>
            <div class="row-fluid">

                <div class="span8">

                    <p>
                        <object data="http://www.flickr.com/apps/slideshow/show.swf?v=124984" height="500"
                                type="application/x-shockwave-flash" width="700">
                            <param name="flashvars"
                                   value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fddehghan%2Fsets%2F72157632674422471%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fddehghan%2Fsets%2F72157632674422471%2F&amp;set_id=72157632674422471&amp;jump_to=">
                            <param name="allowFullScreen" value="true">
                            <param name="src" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984">
                            <param name="allowfullscreen" value="true">
                        </object>
                    </p>
                </div>

                <div class="span4">

                    <p>
                        <object data="http://www.flickr.com/apps/slideshow/show.swf?v=124984" height="250"
                                type="application/x-shockwave-flash" width="250">
                            <param name="flashvars"
                                   value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fddehghan%2Fsets%2F72157632674197931%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fddehghan%2Fsets%2F72157632674197931%2F&amp;set_id=72157632674197931&amp;jump_to=">
                            <param name="allowFullScreen" value="true">
                            <param name="src" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984">
                            <param name="allowfullscreen" value="true">
                        </object>
                    </p>


                </div>
            </div>
        </div>

    </div>



{% endblock %}


{% block bottomscript %}
    {#    <script src="/static/js/main.js"></script>#}
{% endblock %}
