{% extends 'theme/base.html' %}

{% block meta_description %}
    We work with expert early childhood educators to create engaging high quality educational
    programs that teach innovation, creativity, and communication." %}{% endblock %}
{% block title %} Draw The Future {% endblock %}


{% block extra_css %}
    <style>

        /* GLOBAL STYLES
       -------------------------------------------------- */
        /* Padding below the footer and lighter body text */

        /* CUSTOMIZE THE CAROUSEL
       -------------------------------------------------- */

        /* Carousel base class */
    .carousel {
        margin-bottom: 30px;
    }

    .carousel .container {
        position: relative;
        z-index: 9;
    }

    .carousel-control {
        height: 80px;
        margin-top: 0;
        font-size: 120px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
        background-color: transparent;
        border: 0;
        z-index: 10;
    }

    .carousel .item {
        height: 500px;
    }

    .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
    }

    .carousel-caption {
        background-color: transparent;
        position: static;
        max-width: 550px;
        padding: 70px 20px 0 20px;
        margin-top: 200px;
    }

    .carousel-caption h1,
    .carousel-caption .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    }

    .carousel-caption .btn {
        margin-top: 10px;
    }

        /* MARKETING CONTENT
       -------------------------------------------------- */

        /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
        text-align: center;
    }

    .marketing h2 {
        font-weight: normal;
    }

    .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
    }

        /* Featurettes
       ------------------------- */

    .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }

    .featurette {
        padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
        overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }

    .featurette-image {
        margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
        margin-bottom: 20px;
    }

        /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
        margin-right: 40px;
    }

    .featurette-image.pull-right {
        margin-left: 40px;
    }

        /* Thin out the marketing headings */
    .featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
        margin-bottom: 25px;
    }

        /* RESPONSIVE CSS
       -------------------------------------------------- */

    @media (max-width: 979px) {

        .container.navbar-wrapper {
            margin-bottom: 0;
            width: auto;
        }

        .navbar-inner {
            border-radius: 0;
            margin: -20px 0;
        }

        .carousel .item {
            height: 500px;
        }

        .carousel img {
            width: auto;
            height: 500px;
        }

        .featurette {
            height: auto;
            padding: 0;
        }

        .featurette-image.pull-left,
        .featurette-image.pull-right {
            display: block;
            float: none;
            max-width: 40%;
            margin: 0 auto 20px;
        }
    }

    @media (max-width: 767px) {

        .navbar-inner {
            margin: -20px;
        }

        .carousel {
            margin-left: -20px;
            margin-right: -20px;
        }

        .carousel .container {

        }

        .carousel .item {
            height: 300px;
        }

        .carousel img {
            height: 300px;
        }

        .carousel-caption {
            width: 65%;
            padding: 0 70px;
            margin-top: 100px;
        }

        .carousel-caption h1 {
            font-size: 30px;
        }

        .carousel-caption .lead,
        .carousel-caption .btn {
            font-size: 18px;
        }

        .marketing .span4 + .span4 {
            margin-top: 40px;
        }

        .featurette-heading {
            font-size: 30px;
        }

        .featurette .lead {
            font-size: 18px;
            line-height: 1.5;
        }

    }
    </style>

{% endblock %}

{% block hero %}
    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ STATIC_URL }}home-assets/slide-01.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Draw The Future</h1>

                        <p class="lead">A free world-class early childhood education <br>
                            for the kids who need it the most</p>
                        <a class="btn btn-large btn-primary" href="#">Become a supporter</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}home-assets/slide-02.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>We Teach Innovation,<br>
                            and Inspire Creativity</h1>

                        <p class="lead">Our programs guide the teachers and volunteers to interact with the
                            students in a purpuseful play.</p>
                        <a class="btn btn-large btn-primary" href="#">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}home-assets/slide-03.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>We make existing schools more effective</h1>

                        <p class="lead">By partnering with schools and NGOs we increase their effectiveness and keep our
                            operation cost very low.</p>
                        <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

{% endblock %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="span1"></div>
            <div class="span10 middle">
                <div class="span">
                    <div class="hero-unit">
                        <h2> Draw The Future Foundation</h2>
                        <span>
                            We work with expert early childhood educators to create engaging high quality educational programs that
                            teach innovation, creativity, and communication.
                        </span>
                    </div>
                </div>
            </div>
            <div class="span1"></div>
        </div>
    </div>

    <br>
    <!-- Marketing messaging and featurettes ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="span4">
            <img class="img-rounded" src="{{ STATIC_URL }}home-assets/elephant.gif">

            <h2>Create</h2>

            <p>
                We create engaging high quality educational programs that teach: innovation, creativity, and
                communication.
            </p>

            <p>Our first programs are Drawing Basics, Draw Your Future Job</p>

            {#            <p><a class="btn btn-success" href="/programs/create">Learn More</a></p>#}
        </div>
        <!-- /.span4 -->
        <div class="span4">
            <img class="img-circle" src="{{ STATIC_URL }}home-assets/testing.jpg">

            <h2>Deploy & Test</h2>

            <p>We test the lessons in the field in India, China, and Kenya for cultural appropriateness and
                effectiveness. We then solve the logistical problems and buying the materials locally or shipping them.
                We and create benchmarks to measure the effectiveness and prevent fraud and abuse. </p>

            {#            <p><a class="btn btn-success" href="/programs/deploy">Learn More</a></p>#}
        </div>
        <!-- /.span4 -->
        <div class="span4">
            <img class="img-circle" src="{{ STATIC_URL }}home-assets/deploy.jpg">

            <h2>Scale Out</h2>

            <p>We take the program to the kids in multiple countries in the world. We partner with other NGOs and use
                their existing on the ground infrastructure to deploy the program and monitor the results.</p>

            {#            <p><a class="btn btn-success" href="/programs/scale-out">Learn More</a></p>#}
        </div>
        <!-- /.span4 -->
    </div><!-- /.row -->



    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-rounded pull-right" src="{{ STATIC_URL }}home-assets/job-web.jpg">

        <h2 class="featurette-heading">We help kids<br><span class="muted"> Dream of a better future</span></h2>

        <p class="lead">
            We help kids visualize themselves in a professional role. We empower them to think beyond the limits of
            their current physical and economic status and see a brighter future.
            <br>
            We inspire kids to dream. And give them the tools to get closer to making that come to reality.
        </p>
    </div>
    <div class="pull-right image-desciption-1">I want to become a doctor.</div>
    <br>
    <div class="pull-right image-desciption-2">11 year old girl, India.</div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-rounded pull-left" src="{{ STATIC_URL }}home-assets/logic-web.jpg">

        <h2 class="featurette-heading">We help kids<span class="muted"> solve logical problems.</span>
        </h2>

        <p class="lead">
            <br>
            <b>How do you draw a two-story house?</b>
            <br>
            When a child is confronted and solves this logical problem he
            or she will never forget this lesson.
            <br>
            Our program push the kids explore the boundaries of reasoning and perceive the world around them in in
            detail.
        </p>
    </div>
    <div class="pull-left image-desciption-1">My home (a two-story building)</div>
    <br>
    <div class="pull-left image-desciption-2">11 year old boy, India</div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-rounded pull-right" src="{{ STATIC_URL }}home-assets/china-future1-web.jpg">

        <h2 class="featurette-heading">We help kids
            <span class="muted"> invent the future</span></h2>

        <p class="lead">We teach kids to create something new to solves a problem. We team them how to express
            themselves and communicate their creation to other people. Story telling and selling your ideas is a
            critical step along the path of becoming a successful professional. </p>
    </div>
    <div class="pull-right">I think that computers of the future will be built into my shirt.</div>
    <br>
    <div class="pull-right">Drawn in 2008. 10 year old boy, China.</div>

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->

{% endblock %}


{% block bottomscript %}
    <script>
        !function ($) {
            $(function () {
                // carousel demo
                $('#myCarousel').carousel()
            })
        }(window.jQuery)
    </script>
{% endblock %}
