{% extends 'theme/base.html' %}

{% block title %}My test project{% endblock %}
{% block meta_description %}{% endblock %}


{% block maincontent %}
    <h1>Hello World</h1>

    <br>
    <br>


    Please Login:<br>

    <a href="{% url socialauth_begin 'google' %}">
        <img src="{{ STATIC_URL }}images/google-icon.png" alt="Google">
    </a>
    <a href="{% url socialauth_begin 'facebook' %}">
        <img src="{{ STATIC_URL }}images/facebook-icon.png" alt="Facebook">
    </a>
    <a href="{% url socialauth_begin 'yahoo' %}">
        <img src="{{ STATIC_URL }}images/yahoo-icon.png" alt="Yahoo">
    </a>

    <a href="/private">private</a>
{% endblock %}


{% block bottomscript %}
{#    <script src="/static/js/main.js"></script>#}
{% endblock %}
