{% extends 'theme/base.html' %}

{% block title %}Mission{% endblock %}
{% block meta_description %}Mission{% endblock %}


{% block maincontent %}

    <div class="container">

        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-mission"
                class="active">Mission
            </li>
        </ul>

    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="span8 left">
                <img src="{{ STATIC_URL }}home-assets/mission1.jpg" class="img-polaroid">

                <div class="image-desciption-3">Nampally Government High School, Hyderabad, India.</div>
            </div>

            <div class="span4">

                <h2>Our Mission</h2>

                <p>Education is the means that empowers children to realize their own dreams and potential. However,
                millions of children around the world lack basic educational resources.</p>

                <p>Draw The Future Foundation helps fill that gap by creating effective, educational programs that nurture
                children’s creativity and encourage them to dream big.</p>

                <p>In many developing counties schools are a dry and rigid place where children are forced to memorize
                    and recite blindly. We aim to change that by helping kids have fun while learning.</p>

                <p>The first project along this journey is to bring fun, creativity and empowerment to children through
                    drawing. We provided drawing supplies and ask the kids to draw a picture of their family or their
                    future job. With the help of volunteers and local teachers we nudge the kids to envision a better
                    life for themselves and their family and increase their desire to stay in school and lean.</p>

            </div>


        </div>

    </div>



{% endblock %}


{% block bottomscript %}
    {#    <script src="/static/js/main.js"></script>#}
{% endblock %}
