{% extends 'theme/base.html' %}

{% block title %}Programs{% endblock %}
{% block meta_description %}Programs{% endblock %}


{% block maincontent %}

    <div class="container">

        <ul class="breadcrumb">
            <li id="breadcrumb-menu-home"><a href="/">Home</a><span class="divider">/</span></li>
            <li id="breadcrumb-menu-mission"
                class="active">Programs
            </li>
        </ul>

    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="hero-unit">
                <div class="lead"><strong>Draw The Future Foundation</strong> works as a conduit to bring the best
                    learning principals sourced from
                    educators and thinkers around the world to children in emerging countries.
                </div>
            </div>

            <h2>Why is this needed?</h2>

            <p>Reading a book with a child without engaging him or her in conversation is great but what really
                helps them to develop literacy skills is engaging them in “dialogic reading”. Asking the kid what is
                going to happen next? Or why something happened? Engages the kids to reason and to develop
                vocabulary and communications skills in addition to the basic reading skills.</p>

            <p>Draw the Future programs create “Structured learning opportunity” where in a playful setting the kids
                learn to reason, communicate and are encouraged to dream of something big to achieve.</p>
            <br>

            <h2>What we do?</h2>
            <ul>
                <li>Create simple high quality educational programs</li>
                <li>Create benchmarks</li>
                <li>Ensure Developmentally and cultural appropriateness</li>
                <li>Solve logistics of deployment in the field</li>
                <li>Work with partner organization to deploy</li>
                <li>Measure and monitor quality and accountability</li>
            </ul>

            <br>
            <hr>
            <br>


            <h2>Deploying the programs</h2>

            <p>There are lots of educational programs and materials that are effective in a western world settings
                however they are mostly too expensive and impractical for use in a poor developing country school.</p>

            <div class="row-fluid">
                <div class="span9 left">
                    <img src="{{ STATIC_URL }}home-assets/empty_classroom.jpg" class="img-polaroid">

                    <div class="image-desciption-3">Anwarul Uloom Boys High School, Hyderabad, India.</div>
                </div>
                <div class="span3 left">

                    <br>
                    <br>

                    <h3>The Challenges:</h3>

                    These are some of the challenges we face in the schools we work with. A sustainable program needs to
                    account for many logistical and cultural barriers:
                    <br>
                    <br>

                    <div class="big-list">
                    <ul>
                        <li>Under paid or non paid teachers</li>
                        <li>Lack of teacher education or training</li>
                        <li>Sever lack of funds and books, notepads, color pencils, maps and any teaching aids</li>
                        <li>Lack of culture of experimentation</li>
                    </ul>
                    </div>
                </div>
            </div>

            <br>
            <hr>
            <br>

            <h2>Evidence Based Programs</h2>
            There are numerous scientifically proven early childhood educational programs that we study and take
            copy elements from it to deploy in emerging markets.
            The <a href="http://en.wikipedia.org/wiki/HighScope">Perry Preschool Project</a>, or <a
                href="http://en.wikipedia.org/wiki/Reggio_Emilia_approach">Reggio Emilia approach</a>
            <ul>
                <li>Having children in safe protected environment</li>
                <li>Have very rich learning</li>
                <li>They can explore and play</li>
                <li>With adults that are deeply invested in them who care about them and guide them and give them
                    more data and evidence about the world
                </li>
            </ul>


        </div>
    </div>



{% endblock %}


{% block bottomscript %}
    {#    <script src="/static/js/main.js"></script>#}
{% endblock %}
